* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
  overflow: hidden;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  color: #0c0c20;
  font-family: "Roboto", sans-serif;
}

.counter-span-you {
  margin: 0 10px;
}

.counter-span-ai {
  margin: 0 10px;
}

h1 {
  text-align: center;
  margin: 15px;
  text-shadow: 0 1px 2px #231e4d;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #0c0c20;
}

.status-text {
  text-align: center;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.cell {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  line-height: 75px;
  font-size: 70px;
  text-align: center;
  color: rgb(159, 48, 48);
  font-family: Arial, Helvetica, sans-serif;
}

.cell-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
  box-shadow: 0 1px 10px #121010;
}

.restart-btn {
  width: 100px;
  height: 50px;
  margin: 15px 100px;
  border-radius: 18px;
  border: none;
  background-color: #6d6c70;
  transition: all 0.2s ease;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #0e0e11;
  outline: none;
}

.restart-btn:hover {
  opacity: 0.8;
}

.status-text {
  color: #0c0c20;
  font-size: 40px;
}
